@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body{
    margin:0;
    height:100%;
    overflow: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebd5c0;
    font-family: 'Ubuntu', sans-serif;
}

/* background canvas */

#canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* layout */

.box {
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid #5e0808;
    text-align: center;
    transform: skew(5deg);
    background-color: rgb(218, 166, 166);
    position: absolute;
    box-shadow: 0 0 13px rgb(0, 0, 0);
}
.box > div {
    margin: 20px 0;
    padding: 10px;
    border: 3px solid rgb(94, 8, 8);
    background-color: rgb(255, 240, 217);
    transform: skew(-5deg);
}

/* welcome text */

.header{
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
}
.header h1 {
    font-size: 40px;
    margin: 10px;
}

/* bottom section */

.contact {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
}
.contact a p {
    display: inline-block;
    margin: 10px;
    color: rgb(94, 8, 8);
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

/* contents */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;  /*this prevents the links from stretching, with this you can hover/click just on the text*/
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
}
.content a p{
    margin-top: 0;
    color: rgb(94, 8, 8);
    font-weight: 800;
    font-size: 20px;
}
.content a p:hover, #btn:hover, .contact a p:hover {
    color:rgb(240, 144, 27)
}
.content a {
    text-decoration: none;
}
#btn{
    font-size: 20px;
    font-weight: 800;
    color: rgb(94, 8, 8);
    background-color: rgb(255, 240, 217);
    border: none;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}