@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
          min-height: 100vh;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ebd5c0;
          font-family: 'Ubuntu', sans-serif;
    }
.layout {
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid rgb(94, 8, 8);
    text-align: center;
    transform: skew(5deg);
    background-color: rgb(218, 166, 166);
}
.layout section {
    margin: 20px 0;
    padding: 10px;
    border: 3px solid rgb(94, 8, 8);
    background-color: rgb(255, 240, 217);
    transform: skew(-5deg);
    
}



.header h1 {
    font-size: 44px;
}



.contact {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact a p {
    display: inline-block;
    margin: 10px;
    color: rgb(94, 8, 8);
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}
.contact a p:hover {
    color:rgb(240, 144, 27)
}



.content{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.content a p {
    margin: 0;
    color: rgb(94, 8, 8);
    font-weight: 800;
    text-decoration: none;
    font-size: 20px;
}
.content a p:hover {
    color:rgb(240, 144, 27)
}
.content a {
    text-decoration: none;
    color: inherit;
}